@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Roboto+Mono:wght@100&display=swap");

@import url("components/container.css");

@import url("components/creator.css");

@import url("components/button.css");

@import url("components/banner.css");

@import url("components/card.css");
body {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	margin: 20px auto;
	text-align: center;
	
}
h1, h2, h3 {
	font-family: 'League Spartan', sans-serif;
	font-size: 30;
	font-weight: bolder;
}
a{
  text-decoration: none;
}
